<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/admin_navi.css">
<style>
</style>
</head>

<body>

    <!-- 탑 네비게이션 -->
    <%- include ('./inc/navi')%>
    <div style="padding-left:16px">

    </div>

</body>
</html>
